<%content_for :title do%>
Spacecraft and Launch vehicles  &ndash; <%= DateTime.now .to_fs(:good_look) %>
<%end%>
<%# <% content_for :title do %>
  <%# Foodlog &ndash; <%= DateTime.now.to_s(:nice_date) %>
<%# <% end %> 

<div class="columns mt-6 is-centered">
  <% @spacecrafts.each do |entry| %>
    <div class="column is-one-quarter">
      <div class="card">
        <header class="card-header">
          <p class="card-header-title"><%= entry.name %></p>
        </header>
        <div class="card-content">
          <div class="content">
              <p>ID: <span class="has-text-weight-bold"><%= entry.id %></span></p>
              <p>Weight: <span class="has-text-weight-bold"><%= entry.weight %></span> Tons</p>
              <p>Owned By: <span class="has-text-weight-bold"><%= entry.owned_by %></span></p>
              <p>Launch Date: span class="has-text-weight-bold"><%= entry.launch_date %></span></p>
              <p class="italic">Logged <%= time_ago_in_words(entry.updated_at) %> ago</p>
          </div>
        </div>
        <div class="card-footer">
          <%= link_to 'Show',entry, class: "card-footer-item" %>
          <%= link_to 'Edit', edit_spacecraft_path(entry), class: "card-footer-item" %>
          <%= link_to "Delete", entry, data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"}, class: "card-footer-item" %>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%# <div class="columns is-centered mt-6">
  <%= link_to "View all entries", archives_index_path, class: "button is-link is-outlined is-centered" %>
<%# </div> %> 